#pokemon-jogador {
    border-radius: 50%;
    display: flex;
    width: 275px;
    height: 275px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    visibility: hidden;
}

#pokemon-sprite {
    width: 150px;
    height: 140px;
}

.stats {
    width: 110px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
}

#resultado {
    font-size: 1.1em;
    width: 250px;
    font-weight: 600;
}

